<!DOCTYPE html>
<html>
<head>
    <title>N-back Game</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>N-back Game</h1>
    <div id="game-container">
        <div id="item-container">
            <button id="item-button" disabled></button>
        </div>
        <div id="score-container">
            <p>Score: <span id="score">0</span></p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
